
.headimg {
  max-width: 80px;
  height:auto;
 }


.headline {
  padding-top: 10px;
}


h1 {
  color: #2d3c49;
}


p {
  color: #7d97ad;
}


hr {
  border-bottom:4px solid #7d97ad;
}

img {
  width: 100%;
}


.myfigcaption {
  text-align: center;
}


.addpad {
  padding-bottom: 20px;
  padding-top: 10px;
}


.midimg {
  max-height:720px;
}

.sameheight {
  height:70%
}
